<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Availibe houses, Luxury real esate</title>

    <link rel="shortcut icon" type="image/svg" href="/src/logo-icon.svg">
    <link rel="stylesheet" href="css/posted_homes.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <script defer src="https://cdn.lordicon.com/bhenfmcm.js"></script>
    <script defer src="/script.js" ></script>
</head>
<body>
    
<div class="full-screen-container">
    <div class="header-container">
        <div class="nav-container">
            <div class="logo-container">
                <img src="/src/logo-icon.svg" alt="svg">
                <h3 class="company-name">Eco Heaven Realty</h3>
            </div>
            <nav class="nav-buttons">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Comapny&nbsp;<i class="ri-arrow-down-s-line"></i></a></li>
                    <li><a href="#">Cateagory&nbsp;<i class="ri-arrow-down-s-line"></i></a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">ContuctUs</a></li>
                </ul>
            </nav>
            <div class="user">
                <a href="user_setting.html"><i class="ri-account-circle-line"></i></a>
                <a href=""><i class="ri-menu-line"></i></a>
                <a href=""><i class="ri-close-line"></i></a>
            </div>
        </div>
        <section class="hero-container">
            <div class="hero">
                <h1 class="hero-moto">Live Green, Live Luxuriously.</h1>
                <p>Discover the Advantages of Eco-Friendly Homes with Our Real Estate Agency.</p>
                <div class="search-bar">
                    <li><a href="#">For&nbsp;sale&nbsp;<i class="ri-arrow-down-s-line"></i></a></li>
                    <input type="text" name="search" id="" placeholder="Enter an address, city, neighborhood, or ZIP code.">
                    <a class="search-bar-green" href="#"><i class="ri-search-line"></i></a>
                </div>
            </div>
        </section>
    </div>



    <!--home links to browse/ currently availible homes-->
    <div class="home-links">
        <div class="home-links-wrapper">
            
        </div>
    </div>

    <!-- <div class="header-home-detail">
                    <p>&#36;450,000</p>
                   
                    <p class="home-view-year"><i class="ri-time-line"></i>2 years ago</p>
                </div> -->


    <!--Recomended for you-->
    <div class="availible-homes">
        <div class="availible-homes-wrapper">

           <div class="homes">
                <div class="home-site">

                
                    <div class="home-header">
                        <h2>Adiss Ababa</h2>
                            <li>beautyful capital city of ethiopia</li>
                            <li>safe guarded and secured</li>
                    </div>
                    <!--only one field is required in this ection-->
                    <!--the rest will always be posted using the staff  page-->
                    <div class="home-detail-wrapper">
                        <div class="home-detail">
                            
                        
                            <div class="home-image-view">
                                <img src="/src/home-3.svg" alt="home image view">
                                <div class="view-home-detail">
                                    <p>3o min drive from thec Meskel square and 10 min away from CMC square</p>
                                </div>
                            </div>
                            
                            <div class="bottom-home-detail">
                                
                                <a href="">31,Herbert Macaulay Way, Sabo, Yaba</a>
                                <div class="link">
                                    <a  href="#"><i  class="ri-heart-line heart"></i></a>
                                    <a  href="#"><i class="ri-heart-fill heart"></i></a>
                                </div>
                            </div>
                        </div>






                        <div class="home-detail">
                            
                        
                            <div class="home-image-view">
                                <img src="/src/home-3.svg" alt="home image view">
                                <div class="view-home-detail">
                                    <p>3o min drive from thec Meskel square and 10 min away from CMC square</p>
                                </div>
                            </div>
                            
                            <div class="bottom-home-detail">
                                
                                <a href="">31,Herbert Macaulay Way, Sabo, Yaba</a>
                                <div class="link">
                                    <a  href="#"><i  class="ri-heart-line heart"></i></a>
                                    <a  href="#"><i class="ri-heart-fill heart"></i></a>
                                </div>
                            </div>
                        </div>







                        <div class="home-detail">
                            
                        
                            <div class="home-image-view">
                                <img src="/src/home-3.svg" alt="home image view">
                                <div class="view-home-detail">
                                    <p>3o min drive from thec Meskel square and 10 min away from CMC square</p>
                                </div>
                            </div>
                            
                            <div class="bottom-home-detail">
                                
                                <a href="">31,Herbert Macaulay Way, Sabo, Yaba</a>
                                <div class="link">
                                    <a  href="#"><i  class="ri-heart-line heart"></i></a>
                                    <a  href="#"><i class="ri-heart-fill heart"></i></a>
                                </div>
                            </div>
                        </div>

                        

                    </div>

                    <div class="home-slide-button">
                        <button id="home-view-slide-button" type="button"><i class="ri-arrow-left-s-line"></i></button>
                    <button id="home-view-slide-button" type="button"><i class="ri-arrow-right-s-line"></i></button>
                    </div>
                    


                </div>

















































                    <div class="home-site">


                
                        <div class="home-header">
                            <h2>Bahir Dar</h2>
                                <li>lake city, beautyful city located in amhara region with green envirmonet</li>
                                <li>safe guarded and secured</li>
                        </div>
                        <!--only one field is required in this ection-->
                        <!--the rest will always be posted using the staff  page-->
                        <div class="home-detail-wrapper">
                            <div class="home-detail">
                                
                            
                                <div class="home-image-view">
                                    <img src="/src/home-3.svg" alt="home image view">
                                    <div class="view-home-detail">
                                        <p>3o min drive from thec Meskel square and 10 min away from CMC square</p>
                                    </div>
                                </div>
                                
                                <div class="bottom-home-detail">
                                    
                                    <a href="">31,Herbert Macaulay Way, Sabo, Yaba</a>
                                    <div class="link">
                                        <a  href="#"><i  class="ri-heart-line heart"></i></a>
                                        <a  href="#"><i class="ri-heart-fill heart"></i></a>
                                    </div>
                                </div>
                            </div>
    
    
    
    
    
    
                           
    
    
    
    
    
                            <div class="home-detail">
                                
                            
                                <div class="home-image-view">
                                    <img src="/src/home-3.svg" alt="home image view">
                                    <div class="view-home-detail">
                                        <p>3o min drive from thec Meskel square and 10 min away from CMC square</p>
                                    </div>
                                </div>
                                
                                <div class="bottom-home-detail">
                                    
                                    <a href="">31,Herbert Macaulay Way, Sabo, Yaba</a>
                                    <div class="link">
                                        <a  href="#"><i  class="ri-heart-line heart"></i></a>
                                        <a  href="#"><i class="ri-heart-fill heart"></i></a>
                                    </div>
                                </div>
                            </div>
    
    
    
    
    
    
    
                            <div class="home-detail">
                                
                            
                                <div class="home-image-view">
                                    <img src="/src/home-3.svg" alt="home image view">
                                    <div class="view-home-detail">
                                        <p>3o min drive from thec Meskel square and 10 min away from CMC square</p>
                                    </div>
                                </div>
                                
                                <div class="bottom-home-detail">
                                    
                                    <a href="">31,Herbert Macaulay Way, Sabo, Yaba</a>
                                    <div class="link">
                                        <a  href="#"><i  class="ri-heart-line heart"></i></a>
                                        <a  href="#"><i class="ri-heart-fill heart"></i></a>
                                    </div>
                                </div>
                            </div>
    
    
    
    
                            <div class="home-detail">
                                
                            
                                <div class="home-image-view">
                                    <img src="/src/home-3.svg" alt="home image view">
                                    <div class="view-home-detail">
                                        <p>3o min drive from thec Meskel square and 10 min away from CMC square</p>
                                    </div>
                                </div>
                                
                                <div class="bottom-home-detail">
                                    
                                    <a href="">31,Herbert Macaulay Way, Sabo, Yaba</a>
                                    <div class="link">
                                        <a  href="#"><i  class="ri-heart-line heart"></i></a>
                                        <a  href="#"><i class="ri-heart-fill heart"></i></a>
                                    </div>
                                </div>
                            </div>
    
    
    
                            
    
    
                            
    
                         
                        </div>
                        <div class="home-slide-button">
                            <button id="home-view-slide-button" type="button"><i class="ri-arrow-left-s-line"></i></button>
                        <button id="home-view-slide-button" type="button"><i class="ri-arrow-right-s-line"></i></button>
                        </div>
                        

                    </div>








                        
              

        </div><!--home-->
            
        </div>
    </div>



    <!--the mission of the comppany-->
    







<!--footer of the website-->
<footer>
    <div class="footer-wrapper">

        <div class="footer-column-1">
            <ul>
                <li class="footer-logo"><a href=""><img src="/src/logo-icon.svg" alt="">Eco Heaven Realty</a> </li>
                    <div class="social-links">
                         <ul>
                             <li><a href=""><i class="ri-facebook-circle-fill"></i></a></li>
                            <li><a href=""><i class="ri-linkedin-box-fill"></i></a></li>
                            <li><a href=""><i class="ri-twitter-fill"></i></a></li>
                            <li><a href=""><i class="ri-instagram-fill"></i></a></li>
                        </ul>
                    </div>
                <li class="footer-contact-link"><a  href="">Contact Us</a></li>
            </ul>
        </div>

            <div class="footer-links">
                <ul>
                    <li class="footer-titles">Navigation</li>
                    <li><a href="">Company</a></li>
                    <li><a href="">Home</a></li>
                    <li><a href="#schedule">Contact Us</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Properties</a></li>
                </ul>
            </div>

            <div class="footer-links">
                <ul>
                    <li class="footer-titles">Company</li>
                    <li><a href="">About us</a></li>
                    <li><a href="">Our mission and vision</a></li>
                    <li><a href="">Our team</a></li>
                </ul>
            </div>

        <div class="footer-links">
                <ul>
                    <li class="footer-titles">Support</li>
                    <li><a href="#schedule">Contact us</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
        </div>

    </div>
    <div class="legalization">
        <p>Website made by <span>SURAFEL MELAKU Gmail: surafelmelaku940@gmail.com</span></p>
    </div>
</footer>
</div>
</body>
</html>