<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        {% load mathfilters %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Luxury real esate</title>
    
        <link rel="shortcut icon" type="image/svg" href="{% static 'src/base/logo-icon.svg'%}">
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
        <script defer src="https://cdn.lordicon.com/bhenfmcm.js"></script>
    </head>
<body>
    
    <h1>form for creating a post</h1>
    <form action="" method="post">
        {% csrf_token%}

        <div>
            
        </div>
    </form>
 
</body>
</html>