<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Luxury real esate</title>
    
        <link rel="shortcut icon" type="image/svg" href="{% static 'src/base/logo-icon.svg'%}">
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
        <script defer src="https://cdn.lordicon.com/bhenfmcm.js"></script>
        <script src="{% static 'js/base.js'%}" defer></script>
    </head>
<body>
    <h1>Create a post from this page</h1>
    <section class="view-home">
        <div class="view-homes-wrapper">
            
            <div class="home-list-wrapper">
                
                <div class="home-detail">
                    <div class="header-home-detail">
                        <p>&#36;{{ homepost.price}}</p>
                        <a href="#">For&nbsp;sale</a>
                    </div>
                    <div class="middle-home-detail">
                        <ul>
                            <li><p>{{homepost.beds_rooms}} beds</p></li>
                            <li><p>&middot;{{ homepost.bath_rooms }} baths</p></li>
                            <li><p>&middot;{{ homepost.sqft }} sqfts</p></li>
                            <li><p>&middot;Eco-friendlys</p></li>
                        </ul>
                        <p class="home-view-year"><i class="ri-time-line"></i>2 years ago</p>
                    </div>
                    <div class="home-image-view">
                    <img src="{{ homepost.image.url}}" alt="home image view">
                    </div>
                    <div class="bottom-home-detail">
                        <a href=""><p>{{ homepost.home_location }}</p></a>
                        <a  href="#"><i  class="ri-heart-line heart"></i></a>
                    </div>
                </div>
            
               
                

                
            </div>
        </div>
    </section>
</body>
</html>