<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
        {% load mathfilters %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>searched</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
   <!-- {% for home in homes %}
    {{home}}
   {% endfor %} -->
   <h1 style="display: flex; justify-content: center; align-items: top;">Searched Homes</h1>
   <div class="home-list-wrapper">
                
    {% for home in homes %}
    <div class="home-detail">
            
        <div class="header-home-detail">
            {% if home.price > 999 %}
            <p>&#36;{{ home.price|intdiv:1000 }},000</p>
            {% else %}
            <p>&#36;{{ home.price }}</p>
            {% endif %}
            
            <a href="#">{{ home.home_type}}</a>
        </div>
        <div class="middle-home-detail">
            <ul>
                <li><p>{{home.beds_rooms}} beds</p></li>
                <li><p>&middot;{{ home.bath_rooms }} baths</p></li>
                <li><p>&middot;{{ home.sqft }} sqfts</p></li>
                <li><p>&middot;Eco-friendlys</p></li>
            </ul>
            <p class="home-view-year"><i class="ri-time-line"></i>2 years ago</p>
        </div>
        <div class="home-image-view">
        <img src="{{ home.image.url}}" alt="home image view">
        </div>
        <div class="bottom-home-detail">
            <a href=""><p>{{ home.home_location }}</p></a>
            <a  href="#"><i  class="ri-heart-line heart"></i></a>
        </div>
    </div>
    {% endfor %} 
</div>
</body>
</html>