<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background: rgb(221, 221, 221); padding:10% hei">
    <div style="display: block; height: fit-content; background: rgb(246, 255, 247); padding: 10%;">
        <div style=" width: 80%; border-radius: 10px; padding: 30px; font-size: 25px; text-align: center;
        ">We have recived a request for password recovery from:<br>
        {{email }} <br>
        <br>
        If the request is by you please use the following link to recover your password <br>
        {{token_key}} <br>
        <p style=" padding: 30px; margin:5% 25px; text-align: center;">If the link is not working use this button <br> <a href="{{token_key}}" style="text-decoration: none; background:#3f885c;width: 120px; height: auto; text-align: center; color: rgb(235, 235, 235); padding: 5px 15px; border-radius: 5px; margin: 20px;">Reset Password</a>
        
    </div>
    
    </p>
</div>
</body>
</html>