*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.super-full-screen-container{
    display: block;
}

.full-screen-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.full-screen-container:nth-of-type(3){
    display: block;
}
.reset-wrapper{
    width: 100%;
    height: 110vh;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.reset-left{
    
    box-shadow:  rgba(0, 0, 0, 0.19) 10px 0 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;;
    background-position: center;
    background-size: cover;
    width: 40%;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset-left p{
    font-size: 70px;
    font-weight: bolder;
    color: #f7f7f7b9;
    text-align: center;
}
.reset-left p span{
    font-size: 20px;
    color: white;
    line-height: 20px;
}
.reset-right{
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
form{
    width: 50%;
}
.reset-title p {
    color: var(--800, #2D3748);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} 
.reset-title span{
    color: var(--900, #1A202C);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}

.format{
    display: flex;
    flex-direction: column; 
}
.email{
    margin-bottom: 20px;
}
.format label{
    color: var(--700, #4A5568);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
}
.format label:after{
    display: inline-block;
    content: '*';
    width: 5px;
    height: 5px;
    color: red;
    vertical-align: top;
}
.format input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1.5px solid #E8E8E8;
    padding: 15px;
    box-shadow:  rgba(0, 0, 0, 0.19) 1px 0 1px, rgba(0, 0, 0, 0.23) 0px 1px 1px;
}
.error p{ 
    color: red;
    font-size: 15px;
    margin-top: 5px;
    font-weight: bold;
}
.error input{
    border: 1.5px solid red;
}
.success input{
    border: 1.5px solid #3f885c;
}
.success p{
    display: none;
}

.form-btn{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-btn button{
    border-style: hidden;
    flex-shrink: 0;
    border-radius: 5px;
    background: #3f885c;
    padding: 16px 0;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    outline: none;
    cursor: pointer;
    transition: transform 2s ease;
}
.form-btn button:hover{
    background: #37a362;
}
@media(max-width:900px){
    .reset-wrapper{
        justify-content: center;
    }
    .reset-left p{
        font-size: 50px;
    }
    .reset-right{
        width: 100%;

    }
    .reset-left{
        width: 40%;;
    }
    .reset-title p {
        color: var(--800, #2D3748);
        font-size: 20px;

        font-weight: bold;
    } 
    .reset-title span{
        font-weight: bold;
    }
    
    .format label{
        font-weight: 300;
    }
    .format input{
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: 1.5px solid #E8E8E8;
        padding: 15px;
        box-shadow:  rgba(0, 0, 0, 0.19) 1px 0 1px, rgba(0, 0, 0, 0.23) 0px 1px 1px;
    }
    .error input{
        border: 1.5px solid red;
    }
    .success input{
        border: 1.5px solid #3f885c;
    }
    .success p{
        display: none;
    }
    form{
        width: 60%;
    }
}

@media (max-width:750px){
    
    .reset-wrapper{
        display: flex;
        flex-direction: column;
        height:100%;
    }
    .full-screen-container{
        height: 100%;
    }
    .reset-left{
        width: 100%;
        height: 50%;
        padding: 10%;
        /* position: relative;
        top: 100%;
        left: 0; */
    }
    .reset-left p{
        font-size: 40px;
    }
    .reset-right{
        width: 80%;
        height: 40%;
        margin: 0 auto;
        margin-bottom: 20%;
        margin-top: 10%;
    }
    .reset-title p {
        color: var(--800, #2D3748);
        font-size: 10px;
        font-weight: 200;
    } 
    .reset-title span{
        font-weight: 500;
    }
    
    .format label{
        font-weight: 300;
    }
   
    .format input{
        width: 100%;
        height: 40px;
        border-radius: 3px;
        border: 1.5px solid #a7a7a7;
        padding: 10px;
        box-shadow:  rgba(0, 0, 0, 0.19) 1px 0 1px, rgba(0, 0, 0, 0.23) 0px 1px 1px;

    }
    .reset-title p {
        color: var(--800, #2D3748);
        font-size: 15px;
        font-weight: bold;

    } 
    .reset-title span{
        font-weight: bold;
    }
    
    .error input{
        border: 1.5px solid red;
    }
    .success input{
        border: 1.5px solid #3f885c;
    }
    .success p{
        display: none;
    }
    .error p{ 
        font-size: 12px;
        margin-top: 3px;
    }

    form{
        width: 80%;
    }
}

@media (max-width:550px){
   
    form{
        width: 100%;
    }
}