<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/email_sent_confirmation.css'%}">
    <title>Document</title>
</head>
<body>
    <div class="fullscreen">
        <div class="top">
            <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
            <lord-icon
                class="icon"
                src="https://cdn.lordicon.com/jvihlqtw.json"
                trigger="hover"
                colors="primary:#121331,secondary:#0008ff"
                style="">
            </lord-icon>
        </div>
        <div class="container">
           
            <div class="bottom">
                <p class="title">Password reset email sent to:</p> <br>
                <span class="sent-email">{{ email }}</span> <br>
                <p class="procedure">
                    Password reset link is sent to your email <br>
                    in order to reset your password follow the procedure. <br>
                    <br>
                    " If you don’t see this email in your inbox within 15 minutes, look for it in your junk mail folder. If you find it there, please mark it as “Not Junk”."

                </p>
            </div>
           
        </div>
    </div>
    
</body>
</html>