<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="super-full-screen-container">
      <div class="full-screen-container">
        <div class="reset-wrapper">
          <div
            class="reset-left"
            style="background-image: url('{% static '/src/login-bg-2.jpg' %}')"
          >
            <p>
              Feels Like Home!<br />
              <span>Eco Heaven Realty</span>
            </p>
          </div>

          <div class="reset-right">
            <div class="reset-title">
              <p>
                <span>Reset Your Password</span>
              </p>
            </div>

            <!--Adiv for displaying error message-->
            <div style="width: 100%; height: fit-content; padding: 10px">
              {% for message in messages %}
              <p style="text-align: start; color: white; padding: 20px; height: 50px; width: 100%; font-size: 15px; background-color: rgba(255, 0, 0, 0.479);">
                {{message}}
              </p>
              {% endfor %}
            </div>

            <form method="post" id="form">
              {% csrf_token %}
              <div class="format email">
                <label for="emali">Email</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Enter your email"
                />
                <p id="errormessage"></p>
              </div>
              <a href="/email_sent_confirmation">ew</a>
              <div class="form-btn">
                <button type="submit">Reset Password</button>
              </div>

            </form>
          </div>
        </div>
      </div>
      <script>
//         if (typeof window !== "undefined")
// {
// const email = document.getElementById("email")
// const form = document.getElementById("form")

// form.addEventListener("submit", (e) =>{
//     e.preventDefault();

//     validateInputs();
// });

//     function validateInputs(){
//         emailValue = email.value.trim()

//         //validating email
//         if (emailValue === '' || emailValue === null){
//             setErrorFor(email, "Enter your email!");
//         }else if(!trueEmail(emailValue)){
//             setErrorFor(email, "Enter a valid email!");
//         }else{
//             setSuccessFor(email);
//         }

//     }

//     function setErrorFor(input, message){
//         const format = input.parentElement;
//         const displayError = format.querySelector("#errormessage");

//         //isplaying the message, passing the error meaasge
//         displayError.innerText = message;

//         //adding error class to format and removing success
//         format.classList.remove("success");
//         format.classList.add("error");
        
//     }

//     function setSuccessFor(input){
//         const format = input.parentElement;
//         const displayError = format.querySelectorAll("#errormessage");

//         //displaying error message of empty string
//         displayError.innerText = " new";

//         //removing success class and removing  error class
//         format.classList.remove("error");
//         format.classList.add("success");
        
//     }
//     //testing if the entered email is real email or not
//     function trueEmail(email){
//         return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email);
//     }
// }
      </script>
</body>
</html>